@import '../global/variables.css';

.l-container {
  width: min(100%, var(--layout-max-width));
  padding-inline: clamp(
    var(--layout-padding-sp),
    5vw,
    var(--layout-padding-pc)
  );
  margin-inline: auto;
}
