@import '../global/variables.css';
@import '../global/custom_media.css';

.l-footer {
  background-color: var(--color-bg-surface);
  padding-block: var(--spacing-xl);
  container-type: inline-size;
  @media (--lg) {
    padding-block: var(--spacing-2xl);
  }
}

.l-footer__inner {
  max-width: var(--layout-max-width);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2xl);
  margin-inline: auto;
  @media (--md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: var(--spacing-5xl);
  }
}

/* Logo */
.l-footer__logo {
  width: min(40cqw, 200px);
}

/* アクセス情報 */
.l-footer__access {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-xl);
}

.l-footer__info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-md);
  font-size: 14px;
}

.l-footer__address,
.l-footer__contact {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-sm);
}

.l-footer__label {
  font-weight: var(--fw-bold);
  white-space: nowrap;
}

.l-footer__postal-code {
  display: block;
}
.l-footer__address-text {
  display: block;
}

.l-footer__contact-details {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-sm);
}

.l-footer__phone {
  transition: color 0.2s ease;
}

.l-footer__phone:hover {
  color: var(--color-brown);
}

.l-footer__emails {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-sm);
}

.l-footer__email {
  font-family: var(--font-en);
  text-decoration: underline;
  transition: color 0.2s ease;
}

.l-footer__email:hover {
  color: var(--color-brown);
}

/* ナビゲーション */

.l-footer__nav {
}
@media (--md) {
  .l-footer__nav {
    justify-items: end;
    align-content: end;
  }
}
@container (min-width: 1024px) {
  .l-footer__nav {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
}
.l-footer__nav-list {
  display: grid;
  grid-template-columns: 1fr;
}
@container (min-width: 1024px) {
  .l-footer__nav-list {
    grid-template-columns: repeat(6, auto);
  }
}
@container (min-width: 1024px) {
  .l-footer__nav-link {
    padding-inline: clamp(var(--spacing-sm), 10cqw, var(--spacing-md));
  }
}
.l-footer__nav-link {
  transition: color 0.2s ease;
  white-space: nowrap;
  display: block;
  font-size: 14px;
  padding-block: var(--spacing-sm);
}

.l-footer__nav-link:hover {
  color: var(--color-brown);
}

/* 下部セクション */
.l-footer__bottom {
  border-top: 1px solid var(--color-border-strong);
  padding-top: var(--spacing-xl);
  @media (--md) {
    grid-column: 1 / 3;
  }
}

.l-footer__bottom-inner {
  max-width: var(--layout-max-width);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-md);

  @media (--md) {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }
}

.l-footer__copyright {
  color: var(--color-border-strong);
  font-size: 14px;
}

.l-footer__legal {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--spacing-md);
  @media (--md) {
    grid-template-columns: repeat(2, auto);
    gap: var(--spacing-xl);
  }
}

.l-footer__legal-link {
  transition: color 0.2s ease;
  font-size: 14px;
  display: block;
  color: var(--color-border-strong);
}

.l-footer__legal-link:hover {
  color: var(--color-brown);
}
