@import './p-hero.css';
@import './p-about.css';
@import './p-brand-power.css';
@import './p-reasons.css';
@import './p-brand-hero.css';
@import './p-brand-origin.css';
@import './p-brand-unique.css';
@import './p-brand-menu.css';
@import './p-brand-history.css';
@import './p-brand-stores.css';
@import './p-franchise-hero.css';
@import './p-franchise-mechanisms.css';
@import './p-franchise-support.css';
@import './p-franchise-voices.css';
@import './p-contact-hero.css';
@import './p-contact-form.css';
@import './p-contact-faq.css';
