.p-about {
  padding-block: var(--spacing-4xl);
  background-color: var(--color-white);
}

.p-about > .l-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-4xl);
}

.p-about__title {
  font-size: clamp(1.5rem, 4vw, 2.25rem);
  font-weight: var(--fw-bold);
  font-family: var(--font-jp--serif);
  text-align: center;
}

.p-about__content {
}

.p-about__text {
  line-height: var(--line-height-base);
  color: var(--color-text);
}

.p-about__button {
  text-align: center;
}

.p-about__world-map {
}


.p-about__world-map__image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.p-about__world-map__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
