

.p-brand-origin__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-3xl);
}

@media (--lg) {
  .p-brand-origin__content {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-4xl);
  }
}

.p-brand-origin__block {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);
}

.p-brand-origin__block-title {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: var(--fw-bold);
  font-family: var(--font-jp--serif);
}

.p-brand-origin__text {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);
}

.p-brand-origin__paragraph {
}

