.p-brand-menu {
}

.p-brand-menu__title {
}


.p-brand-menu__description {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  text-align: center;
}

.p-brand-menu__image {
  width: 100%;
}

.p-brand-menu__popular {
}

.p-brand-menu__popular-title {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: var(--fw-bold);
  line-height: 1.4;
  color: var(--color-text);
  text-align: left;
  margin-block-end: var(--spacing-3xl);
  padding-block-end: var(--spacing-sm);
  position: relative;
  display: inline-block;
}

.p-brand-menu__popular-title::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: var(--color-text);
  margin-left: var(--spacing-md);
}

.p-brand-menu__popular-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-xl);
}

@media (--md) {
  .p-brand-menu__popular-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-2xl);
  }
}

@media (--lg) {
  .p-brand-menu__popular-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-brand-menu__popular-card {
  display: grid;
  grid-template-columns: 1fr;
}

.p-brand-menu__popular-card-image {
  width: 100%;
}

.p-brand-menu__popular-card-content {
  padding: var(--spacing-lg);
}

.p-brand-menu__popular-card-category {
  display: inline-block;
  color: var(--color-text);
  font-size: 12px;
  border: 1px solid var(--color-text);
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-md);
  border-radius: var(--radius-sm);
  margin-block-end: var(--spacing-sm);
}

.p-brand-menu__popular-card-name {
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: var(--fw-bold);
  line-height: 1.4;
  margin-block-end: var(--spacing-sm);
  color: var(--color-text);
}
