.p-hero {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  grid-template-rows: auto auto;
  @media (--md) {
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: auto auto;
  }
}
.p-hero__image {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  z-index: -1;
  position: relative;
  min-height: 520px;
  @media (--md) {
    grid-row: 1/ 3;
    min-height: 630px;
  }
}
.p-hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-hero__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0.5;
}
.p-hero__content {
  grid-row: 1/ 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: var(--spacing-md);
}
.p-hero__header {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  align-self: end;
  @media (--md) {
    grid-row: 1 / 2;
  }
}
.p-hero__features {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-text-on_dark);
  font-family: var(--font-jp--sanserif);
  font-weight: var(--fw-semibold);
  font-size: fz(14, 20);
  column-gap: var(--spacing-sm);
  align-self: start;
  @media (--md) {
    grid-row: 2 / 3;
  }
}
.p-hero__badge {
  color: var(--color-text-on_dark);
  font-size: fz(16, 18);
  padding: var(--spacing-sm);
  border: 1px solid var(--color-text-on_dark);
  width: min(calc(272 / 375 * 100vw), 304px);
  white-space: nowrap;
}
.p-hero__title {
  color: var(--color-text-on_dark);
  font-family: var(--font-jp--serif);
  font-size: clamp(32px, 5vw, 48px);
  font-weight: var(--fw-bold);
  line-height: 1.3;
}
.p-hero__bottom-section {
  grid-row: 2/ 3;
  grid-column: 2 / 3;
}

.p-hero__description {
  font-size: fz(16, 18);
}
@media (--md) {
  .p-hero__description {
    color: var(--color-text-on_dark);
  }
}
