@import '../global/variables.css';
@import '../global/custom_media.css';

.p-reasons__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);
}

@media (--md) {
  .p-reasons__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2xl);
  }
}

.p-reasons__card {
  width: 100%;
}

.p-reasons__buttons {
  display:flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;

}

@media (--md) {
  .p-reasons__buttons {
flex-direction: row;
justify-content: center;
  }
}

.p-reasons__button {
  min-width: 200px;
}
