.c-section-title {
  text-align: left;
}

.c-section-title__title {
  font-size: clamp(24px, 4vw, 32px);
  font-weight: var(--fw-bold);
  line-height: 1.3;
  font-family: var(--font-jp--serif);
}

.c-section-title__subtitle {
  font-size: clamp(1rem, 2vw, 1.25rem);
  color: var(--color-gray);
  margin-top: var(--spacing-sm);
}
