/* -------------------
   Color Palette
------------------- */
:root {
  /* Base Colors */
  --color-white: #fff;
  --color-black: #1a1a1a;
  --color-gray: #777;
  --color-light-gray: #b1b1b1;
  --color-red: #dc2626;
  --color-pale-white: #fafafa;
  --color-pale-beige: #faf7f1;
  --color-pale-orange: #c76a15;
  --color-pale-blue: #4c6475;
  --color-dark-brown: #a55a10;

  /* Semantic Colors */
  --color-text: var(--color-black);
  --color-text-muted: var(--color-gray);
  --color-text-on_dark: var(--color-white);
  --color-text-danger: var(--color-red);
  --color-bg-base: var(--color-pale-white);
  --color-bg-surface: var(--color-white);
  --color-bg-surface-alt: var(--color-pale-beige);
  --color-accent-warm: var(--color-pale-orange);
  --color-accent-cool: var(--color-pale-blue);
  --color-border-strong: var(--color-light-gray);
}

/* -------------------
   Typography
------------------- */
:root {
  --font-jp--serif: 'Noto Serif JP', 'Georgia', 'Times New Roman', serif;
  --font-jp--sanserif: 'Noto Sans JP', 'Helvetica', 'Arial', sans-serif;
  --font-en: 'Roboto', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --font-size-base: 16px;
  --line-height-base: 1.62;
}

/* -------------------
   Layout
------------------- */
:root {
  --layout-max-width: 1440px;
  --layout-max-width-inner: 1200px;
  --layout-padding-sp: 20px;
  --layout-padding-pc: 40px;
}

/* -------------------
   Spacing
------------------- */
:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;
  --spacing-5xl: 80px;
  --spacing-6xl: 96px;
}
/* -------------------
   radius
------------------- */
:root {
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;
}
